## PANDAS TAREA 2

In [1]:
import pandas as pd

In [2]:
from math import log

In [3]:
s = pd.Series(['Matematicas', 'Historia', 'Economia','programazzione','english'], dtype='string')

In [4]:
s

0       Matematicas
1          Historia
2          Economia
3    programazzione
4           english
dtype: string

In [5]:
s = pd.Series([1, 2, 3, 4])

In [6]:
result = s * 2

In [7]:
result

0    2
1    4
2    6
3    8
dtype: int64

In [8]:
s % 2

0    1
1    0
2    1
3    0
dtype: int64

In [9]:
s = pd.Series(['a', 'b', 'c']) 
print(s)

0    a
1    b
2    c
dtype: object

In [10]:
s = pd.Series([1, 2, 3, 4])
s.apply(log)

0    0.000000
1    0.693147
2    1.098612
3    1.386294
dtype: float64

In [11]:
s = pd.Series(['a', 'b', 'c']) 
s.apply(str.upper)

0    A
1    B
2    C
dtype: object

In [12]:
s = pd.Series({'Matemáticas': 6.0, 'Economía': 4.5, 'Programación': 8.5})

In [13]:
print(s[s > 5])

Matemáticas     6.0
Programación    8.5
dtype: float64

In [14]:
s = pd.Series({'Matemáticas': 6.0, 'Economía': 4.5, 'Programación': 8.5})
print(s.sort_values())

Economía        4.5
Matemáticas     6.0
Programación    8.5
dtype: float64

In [15]:
print(s.sort_index(ascending = False))

Programación    8.5
Matemáticas     6.0
Economía        4.5
dtype: float64

In [16]:
import pandas as pd
import numpy as np

In [17]:
s = pd.Series(['a', 'b', None, 'c', np.nan, 'd'])

In [18]:
print(s)

0       a
1       b
2    None
3       c
4     NaN
5       d
dtype: object

In [19]:
s.dropna()

0    a
1    b
3    c
5    d
dtype: object